src/soap/wsdl/veconsumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:core="http://core.tecno.afip.gov.ar/model/ws/types" xmlns:mime="http://www.w3.org/2005/05/xmlmime" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ve.tecno.afip.gov.ar/domain/service/ws" xmlns:vews="http://ve.tecno.afip.gov.ar/domain/service/ws" xmlns:vewst="http://ve.tecno.afip.gov.ar/domain/service/ws/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="VEConsumerService" targetNamespace="http://ve.tecno.afip.gov.ar/domain/service/ws">
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link"/>
<link type="text/css" rel="stylesheet" id="dark-mode-general-link"/>
<style lang="en" type="text/css" id="dark-mode-custom-style"/>
<style lang="en" type="text/css" id="dark-mode-native-style"/>
<style lang="en" type="text/css" id="dark-mode-native-sheet"/>
<wsdl:types>
<xs:schema xmlns:core="http://core.tecno.afip.gov.ar/model/ws/types" xmlns:mime="http://www.w3.org/2005/05/xmlmime" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ve.tecno.afip.gov.ar/domain/service/ws/types" xmlns:vews="http://ve.tecno.afip.gov.ar/domain/service/ws" xmlns:vewst="http://ve.tecno.afip.gov.ar/domain/service/ws/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ve.tecno.afip.gov.ar/domain/service/ws/types">
<xs:element name="Adjunto" type="vews:adjunto"/>
<xs:element name="Adjuntos" type="tns:Adjuntos"/>
<xs:element name="Comunicacion" type="tns:Comunicacion"/>
<xs:element name="ComunicacionSimplificada" type="tns:ComunicacionSimplificada"/>
<xs:element name="Estado" type="tns:Estado"/>
<xs:element name="Estados" type="tns:Estados"/>
<xs:element name="Items" type="tns:Items"/>
<xs:element name="Sistema" type="tns:Sistema"/>
<xs:element name="SistemasPublicadores" type="tns:SistemasPublicadores"/>
<xs:element name="Subservicio" type="tns:Subservicio"/>
<xs:element name="Subservicios" type="tns:Subservicios"/>
<xs:element name="VentanillaWSFault" type="tns:VentanillaWSFault"/>
<xs:complexType name="RequestConsultarComunicaciones">
<xs:sequence>
<xs:element name="authRequest" type="core:AuthRequest"/>
<xs:element name="filter" type="tns:Filter"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Filter">
<xs:sequence>
<xs:element minOccurs="0" name="estado" nillable="true" type="xs:int"/>
<xs:element name="fechaDesde" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="fechaHasta" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="comunicacionIdDesde" nillable="true" type="xs:long"/>
<xs:element minOccurs="0" name="comunicacionIdHasta" nillable="true" type="xs:long"/>
<xs:element minOccurs="0" name="tieneAdjunto" nillable="true" type="xs:boolean"/>
<xs:element minOccurs="0" name="sistemaPublicadorId" nillable="true" type="xs:long"/>
<xs:element default="1" minOccurs="0" name="pagina" type="xs:int"/>
<xs:element minOccurs="0" name="resultadosPorPagina" nillable="true" type="xs:int"/>
<xs:element minOccurs="0" name="referencia1" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="referencia2" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="VentanillaWSFault">
<xs:sequence>
<xs:element name="faultCode" type="xs:int"/>
<xs:element name="faultMessage" type="xs:string"/>
<xs:element name="category" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="possibleSolutions" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RespuestaPaginada">
<xs:sequence>
<xs:element name="pagina" type="xs:int"/>
<xs:element name="totalPaginas" type="xs:int"/>
<xs:element name="itemsPorPagina" type="xs:int"/>
<xs:element name="totalItems" type="xs:int"/>
<xs:element form="qualified" name="items" type="tns:Items"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Items">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ComunicacionSimplificada"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DummyResult">
<xs:sequence>
<xs:element name="dbserver" type="xs:string"/>
<xs:element name="appserver" type="xs:string"/>
<xs:element name="authserver" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ComunicacionSimplificada">
<xs:sequence>
<xs:element name="idComunicacion" type="xs:long"/>
<xs:element name="cuitDestinatario" type="xs:long"/>
<xs:element name="fechaPublicacion" type="xs:string"/>
<xs:element minOccurs="0" name="fechaVencimiento" type="xs:string"/>
<xs:element name="sistemaPublicador" type="xs:long"/>
<xs:element name="sistemaPublicadorDesc" type="xs:string"/>
<xs:element name="estado" type="xs:int"/>
<xs:element name="estadoDesc" type="xs:string"/>
<xs:element name="asunto" type="xs:string"/>
<xs:element name="prioridad" type="xs:int"/>
<xs:element name="tieneAdjunto" type="xs:boolean"/>
<xs:element minOccurs="0" name="referencia1" type="xs:string"/>
<xs:element minOccurs="0" name="referencia2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RequestConsultarSistemasPublicadores">
<xs:sequence>
<xs:element name="authRequest" type="core:AuthRequest"/>
<xs:element minOccurs="0" name="idSistemaPublicador" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SistemasPublicadores">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Sistema"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Sistema">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="descripcion" type="xs:string"/>
<xs:element minOccurs="0" name="certCNs" type="xs:string"/>
<xs:element form="qualified" minOccurs="0" name="subservicios" type="tns:Subservicios"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Subservicios">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Subservicio"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Subservicio">
<xs:sequence>
<xs:element name="nombre" type="xs:string"/>
<xs:element name="descripcion" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RequestConsumirComunicacion">
<xs:sequence>
<xs:element name="authRequest" type="core:AuthRequest"/>
<xs:element name="idComunicacion" type="xs:long"/>
<xs:element minOccurs="0" name="incluirAdjuntos" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Comunicacion">
<xs:complexContent>
<xs:extension base="tns:ComunicacionSimplificada">
<xs:sequence>
<xs:element name="mensaje" type="xs:string"/>
<xs:element name="tiempoDeVida" type="xs:int"/>
<xs:element form="qualified" name="adjuntos" type="tns:Adjuntos"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Adjuntos">
<xs:sequence>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="adjunto" type="vews:adjunto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RequestConsultarEstados">
<xs:sequence>
<xs:element name="authRequest" type="core:AuthRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Estados">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Estado"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Estado">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="descripcion" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultarComunicaciones" nillable="true" type="tns:RequestConsultarComunicaciones"/>
<xs:element name="consultarSistemasPublicadores" nillable="true" type="tns:RequestConsultarSistemasPublicadores"/>
<xs:element name="consumirComunicacion" nillable="true" type="tns:RequestConsumirComunicacion"/>
<xs:element name="consultarEstados" nillable="true" type="tns:RequestConsultarEstados"/>
</xs:schema>
<xs:schema xmlns="http://ve.tecno.afip.gov.ar/domain/service/ws" xmlns:core="http://core.tecno.afip.gov.ar/model/ws/types" xmlns:mime="http://www.w3.org/2005/05/xmlmime" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ve.tecno.afip.gov.ar/domain/service/ws" xmlns:vews="http://ve.tecno.afip.gov.ar/domain/service/ws" xmlns:vewst="http://ve.tecno.afip.gov.ar/domain/service/ws/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ve.tecno.afip.gov.ar/domain/service/ws">
<xs:element name="AuthRequest" type="core:AuthRequest"/>
<xs:element name="Filter" type="vewst:Filter"/>
<xs:element name="RequestConsultarComunicaciones" type="vewst:RequestConsultarComunicaciones"/>
<xs:element name="RequestConsultarEstados" type="vewst:RequestConsultarEstados"/>
<xs:element name="RequestConsultarSistemasPublicadores" type="vewst:RequestConsultarSistemasPublicadores"/>
<xs:element name="RequestConsumirComunicacion" type="vewst:RequestConsumirComunicacion"/>
<xs:element name="RespuestaPaginada" type="vewst:RespuestaPaginada"/>
<xs:complexType name="adjunto">
<xs:sequence>
<xs:element name="filename" type="xs:string"/>
<xs:element mime:expectedContentTypes="application/octet-stream" minOccurs="0" name="content" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="compressed" type="xs:boolean"/>
<xs:element minOccurs="0" name="signed" type="xs:boolean"/>
<xs:element minOccurs="0" name="encrypted" type="xs:boolean"/>
<xs:element minOccurs="0" name="processed" type="xs:boolean"/>
<xs:element minOccurs="0" name="public" type="xs:boolean"/>
<xs:element minOccurs="0" name="md5" type="xs:string"/>
<xs:element name="contentSize" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultarComunicacionesResponse" type="consultarComunicacionesResponse"/>
<xs:complexType name="consultarComunicacionesResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="RespuestaPaginada" type="vewst:RespuestaPaginada"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultarSistemasPublicadoresResponse" type="consultarSistemasPublicadoresResponse"/>
<xs:complexType name="consultarSistemasPublicadoresResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="Sistemas" type="vewst:SistemasPublicadores"/>
</xs:sequence>
</xs:complexType>
<xs:element name="dummy" type="dummy"/>
<xs:complexType name="dummy">
<xs:sequence/>
</xs:complexType>
<xs:element name="dummyResponse" type="dummyResponse"/>
<xs:complexType name="dummyResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="DummyResult" type="vewst:DummyResult"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consumirComunicacionResponse" type="consumirComunicacionResponse"/>
<xs:complexType name="consumirComunicacionResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="Comunicacion" type="vewst:Comunicacion"/>
</xs:sequence>
</xs:complexType>
<xs:element name="consultarEstadosResponse" type="consultarEstadosResponse"/>
<xs:complexType name="consultarEstadosResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="Estados" type="vewst:Estados"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:core="http://core.tecno.afip.gov.ar/model/ws/types" xmlns:mime="http://www.w3.org/2005/05/xmlmime" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ve.tecno.afip.gov.ar/domain/service/ws" xmlns:vews="http://ve.tecno.afip.gov.ar/domain/service/ws" xmlns:vewst="http://ve.tecno.afip.gov.ar/domain/service/ws/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://core.tecno.afip.gov.ar/model/ws/types">
<xs:complexType name="AuthRequest">
<xs:sequence>
<xs:element form="qualified" name="token" type="xs:string"/>
<xs:element form="qualified" name="sign" type="xs:string"/>
<xs:element form="qualified" name="cuitRepresentada" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="consultarComunicaciones">
<wsdl:part element="vewst:consultarComunicaciones" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="consultarEstadosResponse">
<wsdl:part element="tns:consultarEstadosResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="consultarSistemasPublicadoresResponse">
<wsdl:part element="tns:consultarSistemasPublicadoresResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="consumirComunicacion">
<wsdl:part element="vewst:consumirComunicacion" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="consultarEstados">
<wsdl:part element="vewst:consultarEstados" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="dummy">
<wsdl:part element="tns:dummy" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="consultarSistemasPublicadores">
<wsdl:part element="vewst:consultarSistemasPublicadores" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="VentanillaWSFault">
<wsdl:part element="vewst:VentanillaWSFault" name="VentanillaWSFault"> </wsdl:part>
</wsdl:message>
<wsdl:message name="consultarComunicacionesResponse">
<wsdl:part element="tns:consultarComunicacionesResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="dummyResponse">
<wsdl:part element="tns:dummyResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="consumirComunicacionResponse">
<wsdl:part element="tns:consumirComunicacionResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="VEConsumer">
<wsdl:operation name="consultarComunicaciones">
<wsdl:input message="tns:consultarComunicaciones" name="consultarComunicaciones"> </wsdl:input>
<wsdl:output message="tns:consultarComunicacionesResponse" name="consultarComunicacionesResponse"> </wsdl:output>
<wsdl:fault message="tns:VentanillaWSFault" name="VentanillaWSFault"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="consultarSistemasPublicadores">
<wsdl:input message="tns:consultarSistemasPublicadores" name="consultarSistemasPublicadores"> </wsdl:input>
<wsdl:output message="tns:consultarSistemasPublicadoresResponse" name="consultarSistemasPublicadoresResponse"> </wsdl:output>
<wsdl:fault message="tns:VentanillaWSFault" name="VentanillaWSFault"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="dummy">
<wsdl:input message="tns:dummy" name="dummy"> </wsdl:input>
<wsdl:output message="tns:dummyResponse" name="dummyResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="consumirComunicacion">
<wsdl:input message="tns:consumirComunicacion" name="consumirComunicacion"> </wsdl:input>
<wsdl:output message="tns:consumirComunicacionResponse" name="consumirComunicacionResponse"> </wsdl:output>
<wsdl:fault message="tns:VentanillaWSFault" name="VentanillaWSFault"> </wsdl:fault>
</wsdl:operation>
<wsdl:operation name="consultarEstados">
<wsdl:input message="tns:consultarEstados" name="consultarEstados"> </wsdl:input>
<wsdl:output message="tns:consultarEstadosResponse" name="consultarEstadosResponse"> </wsdl:output>
<wsdl:fault message="tns:VentanillaWSFault" name="VentanillaWSFault"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="VEConsumerServiceSoapBinding" type="tns:VEConsumer">
<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="consultarComunicaciones">
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
<wsdl:fault name="VentanillaWSFault">
<soap12:fault name="VentanillaWSFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="consultarSistemasPublicadores">
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
<wsdl:fault name="VentanillaWSFault">
<soap12:fault name="VentanillaWSFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="dummy">
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="consultarEstados">
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
<wsdl:fault name="VentanillaWSFault">
<soap12:fault name="VentanillaWSFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="consumirComunicacion">
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
<wsdl:fault name="VentanillaWSFault">
<soap12:fault name="VentanillaWSFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="VEConsumerService">
<wsdl:port binding="tns:VEConsumerServiceSoapBinding" name="VEConsumerPort">
<soap12:address location="https://stable-middleware-tecno-ext.afip.gob.ar/ve-ws/services/veconsumer"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>